.class{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: greenyellow;
    font-size: large;
    font-weight: 700;
    margin: 10px;
    border-style: dashed;
    border-radius: 10px;
    border-color: black;
    justify-content: center;
    align-items: center;
}